AUTHORS
CHANGELOG.md
CLA.md
CONTRIBUTING.md
bower.json
gulpfile.babel.js
karma-base.config.babel.js
karma-sauce.config.babel.js
karma.config.babel.js
saucelabs.config.babel.js
webpack.config.babel.js

test/**
src/**

.editorconfig
.eslint*
.idea/**
.jscsrc
.travis.yml
.npmignore
*.iml
