CLA.md
CONTRIBUTING.md
bower.json
gulpfile.babel.js
karma*.config.babel.js
saucelabs.config.babel.js
webpack.config.babel.js

test/**
src/**

.codeclimate.yml
.editorconfig
.eslint*
.idea/**
.jscsrc
.npmignore
.travis.yml
*.iml
